<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created with
<%= link_to('Rails', 'https://github.com/AnaghaKelkar/quiz_app') %>
from the <%= link_to('Quiz Application', 'https://github.com/AnaghaKelkar') %>.
</p>
