<br>
<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created with
<%= link_to('Rails', 'https://github.com/AnaghaKelkar/quiz_app') %>
from the <%= link_to('Quiz Application', 'https://github.com/AnaghaKelkar') %>.
</p>
<hr style="border-top: 1px solid #8c8b8b;">
<h4>About Quiz Application</h4>
<p>
  To build a multiple choice web application.
</p>